*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.login-button{
    cursor: pointer;
    background-color: #000000;
    transition: 0.2s ease-in-out;
    color: #f0f8ff;
    font-family: monospace;
    border-radius: 10px 20px 10px 20px;
    padding: 10px;
    
}

.login-button:hover {
    background-color: #ffffff;
    color: #000000;
    border-style: solid;
}

aside{
    position: sticky;
    top: 0;
    display: block;
    width: 10%;
    height: 100vh;
    overflow: scroll;
    overflow-x: hidden;
    border-style: solid;
    border-width: 0 1px 0 0;
    border-color: rgb(200, 200, 200);
}

#main-section{
    width: 90%;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header{
    width: 100%;
    display: flex;
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: rgb(200, 200, 200);
    position: sticky;
    top: 0;
    align-items: center;
}

.logo{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
       
#logo-pic{
    background-color: rgb(0, 0, 0);
    height: 32px;
    width: 32px;
    display: flex;
    border-radius: 10px 10px 0px 10px;
    overflow: hidden;
    position: relative;
}

#search-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    position:absolute;
}

#logo-name{
    color: rgb(0, 0, 0);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 32px;
}

#header-aside{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    gap: 10px;
}

#create-button{
    display: flex;
    align-items: center;
}

#create-p{
    font-family: monospace;
    font-size: 16px;
}

#profile-icon{
    display: flex;
    align-items: center;
}

#posts-container{
    display: flex;
    flex-direction: column; 
    margin-top: 20px;
    gap: 20px;
}

.post{
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#main-content{
    width: 100%;
    display: flex;
    justify-content: center;
    overflow-y: scroll;
    height: 100%;
}

#posts-container-div{
    width: 30%;
    margin-right: 10%;
}

.post{
    gap: 100px;
}