{% extends 'base.html' %}
{% load static %}
{% block content %}

<section id="index-container" style="overflow-y: auto; height: 100%;"> 
    <div id="posts-container" style="width: 80%; height: 100%;">
        
    </div>

    <div id="loader" style="display: none;">Loading Posts</div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    let page = 1;  
    let loading = false;  

    function loadMorePosts() {
        if (!loading) {
            loading = true;
            $('#loader').show();

            $.ajax({
                url: "{% url 'load_posts' %}",  
                method: 'GET',
                data: { page: page },
                success: function(data) {
                    if (data.posts.length > 0) {
                        data.posts.forEach(function(post) {
                            let postHtml = '<div class="post">';
                            postHtml += '<div class="post-header">';
                            postHtml += '<a class="avatar"><img src="' + (post.owner_avatar_url || '{% static "images/default-avatar.png" %}') + '" alt="' + post.owner_display_name + '" class="post-owner-avatar"></a>';
                            postHtml += '<span class="post-owner-name"><a>' + post.owner_display_name + '</a></span>';
                            postHtml += '</div>';
                            postHtml += '<h2>' + post.title + '</h2>';
                            if (post.image_url) {
                                postHtml += '<img src="' + post.image_url + '" alt="' + post.title + '">';
                            }
                            postHtml += '<p>' + post.description + '</p>';
                            postHtml += '</div>';

                            $('#posts-container').append(postHtml);
                        });

                        page += 1;  
                        loading = false; 
                        $('#loader').hide();  

                        if (!data.has_next) {
                            $('#main-content').off('scroll');  
                        }
                    }
                }
            });
        }
    }

    
    $(document).ready(function() {
    loadMorePosts();  

    
    $('#index-container').on('scroll', function() {
        
        if ($('#index-container').scrollTop() + $('#index-container').height() >= $('#posts-container').height()) {
            loadMorePosts();  
        }
    });
});
</script>

{% endblock content %}


