{% extends 'base.html' %}
{% load static %}
{% block content %}


<div id="posts-container" style="width: 100%; height: 100%; overflow-y: auto; overflow-x: hidden;">
        <!-- Здесь будут загружаться посты -->
</div>
<div id="loader" style="display: none;">Loading Posts...</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    let page = 1;  
    let loading = false;  

    function loadMorePosts() {
        if (!loading) {
            loading = true;
            $('#loader').show();

            $.ajax({
                url: "{% url 'load_posts' %}",  
                method: 'GET',
                data: { page: page },
                success: function(data) {
                    if (data.posts.length > 0) {
                        data.posts.forEach(function(post) {
                            let postHtml = '<div class="post">';
                                postHtml += '<div class="post-header">';

                                    postHtml += '<div class="post-user-info">';
                                        postHtml += '<a class="avatar"><img src="' + (post.owner_avatar_url || '{% static "images/avatar-placeholder.jpg" %}') + '" alt="' + post.owner_display_name + '" class="post-owner-avatar"></a>';
                                        postHtml += '<span class="post-owner-name"><a>' + post.owner_display_name + '</a></span>';
                                    postHtml += '</div>';

                                    if (post.image_url) {
                                    postHtml += '<div class="post-image" style="background-image: url(' + post.image_url + ');"></div>';
                                    }
                                    else{
                                    postHtml += '<div class="post-image" style="background-image: url(' + '{% static "images/placeholder.jpg" %}' + ');"></div>';
                                    }

                                postHtml += '</div>';

                                postHtml += '<div class="post-text-content">';
                                
                                    postHtml += '<div class="post-text-content-container">';
                                        postHtml += '<h2>' + post.title + '</h2>';
                                        postHtml += '<p>' + post.description + '</p>';
                                        postHtml += '<a href="/posts/' + post.id + '" class="post-read-more-button">...</a>';
                                    postHtml += '</div>';

                                postHtml += '</div>';

                            postHtml += '</div>';

                            $('#posts-container').append(postHtml);

                            console.log(post.id);
                        });

                        page += 1;  
                        loading = false; 
                        $('#loader').hide();  
                    } else {
                        $('#loader').hide(); // Скрыть лоадер, если больше нет постов
                        $(window).off('scroll'); // Отключаем событие скролла
                    }

                    // Если нет следующей страницы, убрать лоадер и прекратить загрузку
                    if (!data.has_next) {
                        $('#loader').hide();
                        $('#posts-container').off('scroll');  // Отключаем скролл, если нет больше страниц
                    }
                },
                error: function() {
                    $('#loader').hide();
                    loading = false; // Остановить загрузку в случае ошибки
                }
            });
        }
    }

    $(document).ready(function() {
        loadMorePosts();  // Загружаем первую порцию постов

        // Слушаем событие прокрутки для контейнера #posts-container
        $('#posts-container').on('scroll', function() {
            // Проверка, достиг ли пользователь конца контейнера
            if ($('#posts-container').scrollTop() + $('#posts-container').innerHeight() >= $('#posts-container')[0].scrollHeight) {
                loadMorePosts();  // Загружаем посты при достижении конца контейнера
            }
        });
    });
</script>

{% endblock content %}


